@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h1 style="text-align:center">Welcome to The Trippy Land - Admin Page</h1>
<center>
    <div text-align:center">
        <img class="img1" src="~/Content/luca-bravo-O453M2Liufs-unsplash.jpg" />
    </div>
</center>

<style>
    .img1 {
        border: 1px solid #ddd;
        border-radius: 4px;
        float: initial;
        width: 80%;
        height: 60%;
    }
</style>