<section class="ftco-section ftco-about ftco-no-pt img">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-12 about-intro">
                <div class="row">
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="img d-flex w-100 align-items-center justify-content-center" style="background-image: url('@Url.Content("~/Trippy_Land_Theme/images/about-1.jpg")');">
                        </div>
                    </div>
                    <div class="col-md-6 pl-md-5 py-5">
                        <div class="row justify-content-start pb-3">
                            <div class="col-md-12 heading-section ftco-animate">
                                <span class="subheading">About Us</span>
                                <h2 class="mb-4">Chúng tôi luôn cung cấp cho bạn những thông tin tuyệt vời nhất mà không ở đâu có</h2>
                                <p>
                                    Hãy cứ đi cho gót giầy của bạn bám bùn đất
                                    <br />
                                    Hãy cứ đi cho quần áo bạn tả tơi
                                    <br />
                                    Hãy cứ đi cho tầm mắt bạn rộng hơn
                                    <br />
                                    Hãy cứ đi cho tuổi trẻ của bạn được kéo dài mãi
                                    <br />
                                    <strong>Trippy Team</strong>
                                </p>                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

