@{
    Random random = new Random();
    string[] Quotes = new[]
    {"Take a trip make your life better",
            "Adventure is worthwhile",
            "For my part, I travel not to go anywhere, but to go. I travel for travel’s sake. The great affair is to move",
            "We travel, some of us forever, to seek other places, other lives, other souls",
            "A journey is best measured in friends, rather than miles",
            "The gladdest moment in human life, me thinks, is a departure into unknown land",
            "No place is ever as bad as they tell you it’s going to be",
            "I am not the same, having seen the moon shine on the other side of the world",
            "Travel makes one modest. You see what a tiny place you occupy in the world",
            "We travel not to escape life, but for life not to escape us",
            "Our destination is not a land, but a new way of looking",
            "Every journey has secret destinations that even travelers can't expect",
            "No one realized how beautiful the trip was until they got home and fell on an old, familiar pillow",
            "The use of traveling is to regulate imagination with reality, and instead of thinking of how things may be, see them as they are",
            "To travel is to discover that everyone is wrong about other countries – Aldous Huxley",
            "To travel is to live – Hans Christian Andersen",
            "He that travels much knows much – Thomas Fuller," +
            "A traveler without observation is a bird without wings – Eddin Saadi",
            "Travel is the only thing you buy that makes you richer",
            "Not all those who wander are lost. – J.R.R. Tolkien",
            "Travel makes a wise man better, and a fool worse. – Thomas Fuller",
            "The impulse to travel is one of the hopeful symptoms of life. – Agnes Repplier",
            "Knowledge of the past and of the places of the earth is the ornament and food of the mind of man. – Leonardo da Vinci"};
    int start = random.Next(0, Quotes.Length);

    ViewBag.Qoutes = Quotes[start];
}

<section class="ftco-intro ftco-section ftco-no-pt">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <div class="img" style="background-image: url('@Url.Content("images/bg_2.jpg")');">
                    <div class="overlay"></div>
                    <h2>We are Trippy Land</h2>
                    <p id="GFG_DOWN">@ViewBag.Qoutes</p>
                    <button id="button" class="btn btn-primary px-4 py-3" onclick="GFG_Fun() ">
                        ASK FOR A QUOTE
                    </button>
                    <script>
                        var down = document.getElementById('GFG_DOWN');

                        var arr = ["Take a trip make your life better",
                            "Adventure is worthwhile",
                            "For my part, I travel not to go anywhere, but to go. I travel for travel’s sake. The great affair is to move",
                            "We travel, some of us forever, to seek other places, other lives, other souls",
                            "A journey is best measured in friends, rather than miles",
                            "The gladdest moment in human life, me thinks, is a departure into unknown land",
                            "No place is ever as bad as they tell you it’s going to be",
                            "I am not the same, having seen the moon shine on the other side of the world",
                            "Travel makes one modest. You see what a tiny place you occupy in the world",
                            "We travel not to escape life, but for life not to escape us",
                            "Our destination is not a land, but a new way of looking",
                            "Every journey has secret destinations that even travelers can't expect",
                            "No one realized how beautiful the trip was until they got home and fell on an old, familiar pillow",
                            "The use of traveling is to regulate imagination with reality, and instead of thinking of how things may be, see them as they are",
                            "To travel is to discover that everyone is wrong about other countries – Aldous Huxley",
                            "To travel is to live – Hans Christian Andersen",
                            "He that travels much knows much – Thomas Fuller," 
                            "A traveler without observation is a bird without wings – Eddin Saadi",
                            "Travel is the only thing you buy that makes you richer",
                            "Not all those who wander are lost. – J.R.R. Tolkien",
                            "Travel makes a wise man better, and a fool worse. – Thomas Fuller",
                            "The impulse to travel is one of the hopeful symptoms of life. – Agnes Repplier",
                            "Knowledge of the past and of the places of the earth is the ornament and food of the mind of man. – Leonardo da Vinci"];

                        function GFG_Fun() {
                            down.innerHTML =
                                arr[Math.floor(Math.random() * arr.length)];
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</section>
