<footer class="ftco-footer bg-bottom ftco-no-pt" style="background-image: url('@Url.Content("~/Trippy_Land_Theme/images/bg_3.jpg")');">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md pt-5">
                <div class="ftco-footer-widget pt-md-5 mb-4">
                    <h2 class="ftco-heading-2">About Us</h2>
                    <p>Chúng tôi là những con người luôn cố gắng chia sẻ niềm đam mê du lịch đến với mọi người</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
                        <li class="ftco-animate"><a href="https://www.facebook.com/nguyenvu9797/"><span class="fa fa-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="https://www.facebook.com/nguyenvu9797/"><span class="fa fa-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="https://www.instagram.com/nguyen_vu_97/"><span class="fa fa-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md pt-5 border-left">
                <div class="ftco-footer-widget pt-md-5 mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">We provide</h2>
                    <ul class="list-unstyled">
                        <li class="py-2 d-block">Location</li>
                        <li class="py-2 d-block">Hotel</li>
                        <li class="py-2 d-block">Food</li>
                        <li class="py-2 d-block">Experience</li>
                    </ul>
                </div>
            </div>
            <div class="col-md pt-5 border-left">
                <div class="ftco-footer-widget pt-md-5 mb-4">
                    <h2 class="ftco-heading-2">We want you</h2>
                    <ul class="list-unstyled">
                        <li class="py-2 d-block">Happy</li>
                        <li class="py-2 d-block">Free</li>
                        <li class="py-2 d-block">Wild</li>
                        <li class="py-2 d-block">And stay young forever</li>
                    </ul>
                </div>
            </div>
            <div class="col-md pt-5 border-left">
                <div class="ftco-footer-widget pt-md-5 mb-4">
                    <h2 class="ftco-heading-2">Contact</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon fa fa-map-marker"></span><span class="text">Thanh Xuan District, Ha Noi City, Viet Nam</span></li>
                            <li><span class="icon fa fa-phone"></span><span class="text">+849886880704</span></li>
                            <li><span class="icon fa fa-paper-plane"></span><span class="text">TheTrippyLand@gmail.com</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    <a>This website is made with love of travelling</a>                  
                </p>
                <p>
                    <script>document.write(new Date().getFullYear());</script>
                </p>
            </div>
        </div>
    </div>
</footer>
