@* Bát đầu quảng cáo 4 ô *@
<div class="col-md-6">
    <div class="row">
        <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
            <div class="services services-1 color-1 d-block img" style="background-image: url('@Url.Content("~/Trippy_Land_Theme/images/services-1.jpg")');">
                <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-paragliding"></span></div>
                <div class="media-body">
                    <h3 class="heading mb-3">Hoạt động</h3>
                    <p>Chúng tôi luôn đưa đến cho bạn những hoạt động làm bạn quẩy hết mình</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
            <div class="services services-1 color-2 d-block img" style="        background-image: url('@Url.Content("~/Trippy_Land_Theme/images/services-2.jpg")');">
                <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
                <div class="media-body">
                    <h3 class="heading mb-3">Sắp xếp chuyến đi</h3>
                    <p>Chúng tôi luôn cố gắng tạo cho cho bạn lịch trình tốt nhất</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
            <div class="services services-1 color-3 d-block img" style="        background-image: url('@Url.Content("~/Trippy_Land_Theme/images/services-3.jpg")');">
                <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-tour-guide"></span></div>
                <div class="media-body">
                    <h3 class="heading mb-3">Kinh nghiệm</h3>
                    <p>Chúng tôi luôn chia sẻ kinh nghiệm khi đi du lịch và lời khuyên của những người đã từng đi<p>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
            <div class="services services-1 color-4 d-block img" style="        background-image: url('@Url.Content("~/Trippy_Land_Theme/images/services-4.jpg")');">
                <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-map"></span></div>
                <div class="media-body">
                    <h3 class="heading mb-3">Điểm đến</h3>
                    <p>Chúng tôi luôn gợi ý cho bạn những địa điểm du lịch nổi tiếng nhất hiện nay<p>
                </div>
            </div>
        </div>
    </div>
</div>
@* Hết quảng cáo 4 ô *@
