<section class="ftco-section services-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 order-md-last heading-section pl-md-5 ftco-animate d-flex align-items-center">
                <div class="w-100">
                    <span class="subheading">Welcome to The Trippy Land</span>
                    <h2 class="mb-4">Xách ba lô lên và đi nào</h2>
                    <p>
                        Trong mỗi con người chúng ta, có người dành cả tuổi thanh xuân
                        của mình để gầy dựng lên sự nghiệp của riêng mình.
                        Có người dành cả tuổi trẻ của mình cho việc ăn uống và
                        suy nghĩ cách để giảm cân, lấy lại vóc dáng.
                        Và cuối cùng là có những người
                        dành cả tuổi xuân tươi trẻ của mình để đi du lịch
                        khắp thế giới, để được trải nghiệm, học thêm nhiều điều mới lạ.
                    </p>
                    <p>
                        Đi không chỉ để trở về tay trắng, đi để túi tiền vơi đi, tim đầy nắng,
                        tâm hồn rộng mở và đón nhận những câu chuyện mới, bài học mới của cuộc đời.
                    </p>
                </div>
            </div>
            @Html.Partial("_Goal")
        </div>
    </div>
</section>
