<section class="ftco-section testimony-section bg-bottom">
    <div class="container">
        <div class="row justify-content-center pb-4">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <span class="subheading"></span>
                <h2 class="mb-4"></h2>
            </div>
        </div>
    </div>
</section>
