<section class="ftco-section img ftco-select-destination" style="background-image: url('@Url.Content("~/Trippy_Land_Theme/images/bg_3.jpg")');">
    <div class="container">
        <div class="row justify-content-center pb-4">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <span class="subheading">The Trippy Way</span>
                <h2 class="mb-4">Take your Trippy Destination</h2>
            </div>
        </div>
    </div>
    @Html.Partial("_Destination")
</section>
