<section class="ftco-section ftco-about img" style="background-image: url('@Url.Content("~/Trippy_Land_Theme/images/bg_4.jpg")');">
    <div class="overlay">
    </div>
    <div class="container py-md-5">
        <div class="row py-md-5">
            <div class="col-md d-flex align-items-center justify-content-center">
                <a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex align-items-center justify-content-center mb-4">
                    <span class="fa fa-play"></span>
                </a>
            </div>
        </div>
    </div>
</section>

