<a class="app-header__logo" href="~/home/index">Trippy Land</a>
<!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
<div>
    <div class="app-header__logo">
        @Session["SessionTenUser"]
    </div>
</div>
<div style="float:right">
    <a class="app-nav__item" href="~/login/logout" ><i class="fa fa-user fa-lg"></i> Logout</a>
</div>