<div class="app-sidebar__user">
    <img class="app-sidebar__user-avatar" src="~/Content/IMG_7125.jpg" alt="User Image" height="60" width="60">
    <div>
        <p class="app-sidebar__user-name">Vũ Phạm</p>
        <p class="app-sidebar__user-designation">Full Stack Developer</p>
    </div>
</div>
<ul class="app-menu">
    <li><a class="app-menu__item" href="~/Admin/Admin/Index_Admin"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Trang quản lý</span></a></li>
    <li class="treeview">
        <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">Quản lý địa điểm</span><i class="treeview-indicator fa fa-angle-right"></i></a>
        <ul class="treeview-menu">
            <li><a class="treeview-item" href="~/Admin/Tinh/DanhSachTinh"><i class="icon fa fa-circle-o"></i> Tỉnh thành</a></li>
            <li><a class="treeview-item" href="~/Admin/DiaDiem/DanhSachDiaDiem"><i class="icon fa fa-circle-o"></i> Địa điểm</a></li>
            <li><a class="treeview-item" href="~/Admin/KhachSan/DanhSachKhachSan"><i class="icon fa fa-circle-o"></i> Khách sạn</a></li>
            <li><a class="treeview-item" href="~/Admin/MonAn/DanhSachMonAn"><i class="icon fa fa-circle-o"></i> Món ăn</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-edit"></i><span class="app-menu__label">Quản lý bài viết</span><i class="treeview-indicator fa fa-angle-right"></i></a>
        <ul class="treeview-menu">
            <li><a class="treeview-item" href="~/Admin/BaiVietVeDiaDiem/DanhSachBaiViet"><i class="icon fa fa-circle-o"></i>Danh sách bài viết</a></li>
            <li><a class="treeview-item" href="~/Admin/DanhGia/DanhSachDanhGia"><i class="icon fa fa-circle-o"></i>Danh sách đánh giá</a></li>
            <li><a class="treeview-item" href="~/Admin/ChuDe/DanhSachChuDe"><i class="icon fa fa-circle-o"></i>Danh sách chủ đề</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">Quản lý tài khoản</span><i class="treeview-indicator fa fa-angle-right"></i></a>
        <ul class="treeview-menu">
            <li><a class="treeview-item" href="~/Admin/User/DanhSachUser"><i class="icon fa fa-circle-o"></i> Danh sách tài khoản</a></li>           
            <li><a class="treeview-item" href="~/Admin/Role/ListRole"><i class="icon fa fa-circle-o"></i>Danh sách loại người dùng</a></li>
        </ul>
    </li>
</ul>