

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:orange;font-size:45px;">
        <b>Trippy Land</b>
    </div>
    <div>
        <pre style="font-size:15px;">
            Hey, Trippy-er
                Chúng tôi vừa gửi cho bạn Email xác thực vui lòng nhấn:
                <a href="@ViewBag.ConfirmationLink">Đường dẫn</a>
        </pre>
    </div>
</body>
</html>
